.squares-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(2, 100px);
    gap: 16px;
    margin: 24px;
    width: max-content;
}

.square {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
}

.s1 { background: red; }
.s2 { background: green; }

.s3 { grid-column: 1; grid-row: 2; background: brown; }
.s4 { grid-column: 2; grid-row: 2; background: orange; }

.image-s5 {
    grid-column: 3;
    grid-row: 2;
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: none;
}