

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 16px 0;
    font-family: Arial, sans-serif;
    border: 1px solid #333;
    background-color: powderblue;

}

th, td {
    border: 1px solid #333;
    padding: 8px 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
